{{#each defectTypes}}
    <h2 class="pane__title {{b "defects-list" "title" status=status}}">
        {{title}}
        <span class="defects-list__count">{{defects.length}} defects</span>
    </h2>
    <div class="{{b "table" hover=true}} defects-list__table">
        <div class="{{b "table" "head"}}">
            <div class="{{b "table" "col" right=true}} {{b "defects-list" "count-col"}}">Count</div>
            <div class="{{b "table" "col"}}">Defect</div>
        </div>
        {{#each defects}}
            <a class="{{b "table" "row" active=active}}" href="#defects/{{uid}}">
                <div class="{{b "table" "col" right=true}} {{b "defects-list" "count-col"}}">
                    <span class="label label_status_{{../status}}">{{testCases.length}}</span>
                </div>
                <div class="{{b "table" "col"}} long-line">{{failure.message}}</div>
            </a>
        {{/each}}
    </div>
{{/each}}
