<div class="pane__section">
    <h3 class="testcase-table__title">{{totalCount}} test cases</h3>
    <div class="testcase-table__statuses"></div>
</div>
<table class="table table_hover">
    <thead>
    <tr>
        <th width="5%">#</th>
        <th>Title</th>
        <th class="{{b "table" "col" right=true}}">Duration</th>
        <th>Status</th>
    </tr>
    </thead>
    <tbody>
    {{#each testCases}}
        <tr class="testcase-table__item {{b "table" "row" active=(eq uid ../currentCase)}}" data-uid="{{uid}}">
            <td>{{inc @index}}</td>
            <td>
                {{name}}
            </td>
            <td class="{{b "table" "col" right=true}}">
                {{time.duration}}
            </td>
            <td>
                <span class="label label_status_{{status}}">{{status}}</span>
            </td>
        </tr>
    {{/each}}
    </tbody>
</table>
