<h2 class="pane__title">
    {{title}}
    <span class="pane__controls">
        <a class="fa fa-expand pane__expand" title="Expand" href="#{{baseUrl}}/{{uid}}?expanded=true"></a>
        <a class="fa fa-compress pane__collapse" title="Collapse" href="#{{baseUrl}}/{{uid}}"></a>
        <a class="fa fa-close" title="Close" href="#{{baseUrl}}"></a>
    </span>
</h2>

<div class="testsuite__testcases"></div>
