<div class="row">
    <div class="col-sm">
        <div class="{{b cls 'content'}}">
            <h1>Total 9 suites, 6 cases</h1>
            <h3>Description</h3>
            <p>{{#if description}}
                {{description}}
            {{else}}
                <i>No description</i>
            {{/if}}</p>
            <div class="well splash">
                <h2 class="splash__title">
                    No report data
                </h2>
                <div class="splash__message">Report data is not available</div>
            </div>
        </div>
    </div>
    <div class="{{b cls 'sidebar'}}">
        <p>Status: <b>{{status}}</b></p>
        <p>
            Delete date:
            <b>{{#if deleteDate}}
                {{date deleteDate}}
            {{else}}
                never
            {{/if}}</b>
        </p>
        <p>
            Tags:
            {{#unless tags.length}}
                <i>no tags</i>
            {{/unless}}
            {{#each tags}}
                <a class="{{b 'link' theme='islands'}}" href="#search?project={{../projectName}}&tag={{this}}">{{this}}</a>
            {{/each}}
        </p>
        <p>Size: <b>XX Gb</b></p>
    </div>
</div>


