{{#each defectTypes}}
    <h2 class="pane__title {{b "defects-list" "title" status=status}}">
        {{title}}
        <span class="defects-list__count">{{defects.length}} defects</span>
    </h2>
    <div class="{{b "table" hover=true}} defects-list__table">
        <div class="{{b "table" "head"}}">
            <div class="{{b "table" "col" right=true sortable=true sorted=(sort-class "testCases.length" ../sorting)}} {{b "defects-list" "count-col"}}"
                data-sort="testCases.length">
                <span>Count</span>
            </div>
            {{> ../../../blocks/table/sortable-col field="failure.message" title="Defect" sorting=../sorting}}
        </div>
        {{#each defects}}
            <a class="{{b "table" "row" active=(eq uid ../../currentDefect)}}" href="#defects/{{uid}}">
                <div class="{{b "table" "col" right=true}} {{b "defects-list" "count-col"}}">
                    <span class="label label_status_{{../status}}">{{testCases.length}}</span>
                </div>
                <div class="{{b "table" "col"}} long-line">{{failure.message}}</div>
            </a>
        {{/each}}
    </div>
{{/each}}
