<h2 class="pane__title">
    {{title}}
    <span class="pane__controls">
        <a class="fa fa-close" title="Close" href="#{{route.baseUrl}}"></a>
    </span>
</h2>

<div class="alert alert_status_{{status}}">
    <div class="row">
        <div class="col_flex">
            <pre class="alert__code"><code>{{failure.message}}</code></pre>
        </div>
        <div class="col testcase__trace-toggle"></div>
    </div>
    <pre class="alert__code testcase__trace"><code>{{failure.stackTrace}}</code></pre>
</div>

<div class="testcase__description"></div>
