<h2 class="pane__title {{b "defects-list" "title" status=status}}">
    xUnit results
</h2>
<table class="{{b "table" hover=true}}">
    <thead>
    <tr>
        <th>Title</th>
        <th>Duration</th>
        <th>Failed</th>
        <th>Broken</th>
        <th>Cancelled</th>
        <th>Pending</th>
        <th>Total</th>
    </tr>
    </thead>
    <tbody>
    <tr class="{{b "table" "row" summary=true}}" disabled>
        <td>
            Total {{suites.length}} suites
        </td>
        {{> suite-table-row}}
    </tr>
    {{#each suites}}
        <tr class="{{b "table" "row" active=(eq uid ../currentSuite)}} testsuite-list__row" data-uid="{{uid}}">
            <td class="long-line">{{title}}</td>
            {{> suite-table-row}}
        </tr>
    {{/each}}
    </tbody>
</table>
