<h2 class="pane__title {{b "testsuites-list" "title"}}">
    xUnit results
</h2>

<div class="{{b "table" hover=true}}">
    <div class="{{b "table" "head"}}">
        <div class="{{b "table" "col"}} {{b "testsuites-list" "name"}}">Title</div>
        <div class="{{b "table" "col"}}">Duration</div>
        <div class="{{b "table" "col"}}">Failed</div>
        <div class="{{b "table" "col"}}">Broken</div>
        <div class="{{b "table" "col"}}">Canceled</div>
        <div class="{{b "table" "col"}}">Pending</div>
        <div class="{{b "table" "col"}}">Total</div>
    </div>
    <div class="{{b "table" "row" summary=true}}" disabled>
        <div class="{{b "table" "col"}} {{b "testsuites-list" "name"}} long-line">
            Total {{suites.length}} suites
        </div>
        {{> suite-table-row}}
    </div>
    {{#each suites}}
        <a class="{{b "table" "row" active=(eq uid ../currentSuite)}}" href="#{{../baseUrl}}/{{uid}}">
            <div class="{{b "table" "col"}} {{b "testsuites-list" "name"}} long-line">
                {{title}}
            </div>
            {{> suite-table-row}}
        </a>
    {{/each}}
</div>
