<h2 class="pane__title">
    {{title}}
    <span class="pane__controls">
        <a class="fa fa-close" title="Close" href="#{{route.baseUrl}}"></a>
    </span>
</h2>

<div class="attachment__filename">
    <a href="data/{{source}}" class="link link_theme_islands">{{source}}</a>
</div>

<div class="pane__section">
    {{#if (eq type "code")}}
        <pre class="attachment__code">{{content}}</pre>
    {{else if (eq type "text")}}
        <pre class="attachment__code">{{content}}</pre>
    {{else if (eq type "csv")}}
        <table class="table">
            <tbody>
            <tr>
                <td>csv</td>
            </tr>
            </tbody>
        </table>
    {{else if (eq type "image")}}
        <img src="{{sourceUrl}}" />
    {{else if (eq type "svg")}}
        <object type="image/svg+xml" data="{{sourceUrl}}">Your browser does not support SVG</object>
    {{else}}
        <iframe style="width: 100%; min-height: 600px;" frameborder="0" src="{{sourceUrl}}" on-error="onError()"></iframe>
    {{/if}}
</div>
