<h2 class="pane__title attachment__title">
    <a href="data/{{attachment.source}}" class="link link_theme_islands">
        <span class="{{fileicon attachment.type}}"></span>
        {{attachment.title}}
    </a>
    <span class="pane__controls">
        <a class="fa fa-close" title="Close" href="#{{route.baseUrl}}"></a>
    </span>
</h2>

{{#if (eq type "code")}}
    <div class="pane__section">
        <pre class="attachment__code">{{content}}</pre>
    </div>
{{else if (eq type "text")}}
    <div class="pane__section">
        <pre class="attachment__code">{{content}}</pre>
    </div>
{{else if (eq type "csv")}}
    <table class="table attachment__table">
        <tbody>
        {{#each content}}
            <tr>
                {{#each .}}
                    <td>{{.}}</td>
                {{/each}}
            </tr>
        {{/each}}
        </tbody>
    </table>
{{else if (eq type "image")}}
    <div class="pane__section attachment__image-container">
        <img class="attachment__image" src="{{sourceUrl}}"/>
    </div>
{{else if (eq type "svg")}}
    <div class="pane__section">
        <object class="attachment__embed" type="image/svg+xml" data="{{sourceUrl}}">Your browser does not support SVG</object>
    </div>
{{else}}
    <iframe class="attachment__iframe" frameborder="0" src="{{sourceUrl}}"></iframe>
{{/if}}

