<h2 class="pane__title">
    {{title}}
    <span class="pane__controls">
        <a class="fa fa-expand pane__expand" title="Expand" href="#{{route.baseUrl}}/{{uid}}?expanded=true"></a>
        <a class="fa fa-compress pane__collapse" title="Collapse" href="#{{route.baseUrl}}/{{uid}}"></a>
        <a class="fa fa-close" title="Close" href="#{{route.baseUrl}}"></a>
    </span>
</h2>
{{#if failure}}
    <div class="alert alert_status_{{status}}">
        <div class="row">
            <div class="col_flex">
                <pre class="alert__code"><code>{{failure.message}}</code></pre>
            </div>
            <div class="col">
                <button class="testcase__trace-toggle button">Show trace</button>
            </div>
        </div>
        <pre class="alert__code testcase__trace"><code>{{failure.stackTrace}}</code></pre>
    </div>
{{else}}
    <div class="alert alert_status_{{status}}">
        The test has been passed!
    </div>
{{/if}}

<div class="testcase__content_before"></div>
<div class="testcase__steps"></div>
<div class="testcase__content_after"></div>
