<div class="{{b 'side-nav' 'head'}}">
    <a href="#" class="{{b 'side-nav' 'brand'}}">Allure</a>
    {{#if report.url}}
        <a href="{{report.url}}" class="link">{{report.name}}</a>
    {{else}}
        {{report.name}}
    {{/if}}
</div>
<ul class="side-nav__menu">
    {{#each tabs}}
        <li class="side-nav__item">
            <a href="#{{tabName}}" class="{{b 'side-nav' 'link' active=active}}">
                <span class="side-nav__icon {{icon}}"></span>
                {{title}}
            </a>
        </li>
    {{/each}}
</ul>
<div class="side-nav__strut"></div>
<div class="side-nav__footer">
    <dl class="{{b 'side-nav' 'info'}}">
        <dt>Version:</dt>
        <dd>{{default report.version 'Unknown'}}</dd>
        {{#if report.size}}
            <dt>Data size:</dt>
            <dd>{{filesize report.size}}</dd>
        {{/if}}
        {{#if report.time}}
            <dt>Generated in:</dt>
            <dd>{{duration report.time}}</dd>
        {{/if}}
    </dl>
    <div class="{{b 'side-nav' 'item'}} {{b 'side-nav' 'collapse'}}">
        <span class="{{b 'side-nav' 'icon'}} fa fa-angle-double-left"></span>
        Collapse
    </div>
</div>
