<a href="#" class="{{b 'header' 'brand'}}">Allure</a>
<a href="#{{href}}" class="{{b 'header' 'link'}}">Allure Allure sample test pack</a>
<div class="{{b 'header' 'strut'}}"></div>
<div class="{{b 'header' 'item'}}">
    <b>Version:</b> unknown
</div>
<div class="{{b 'header' 'item'}}">
    <b>Data size:</b> 1.1 MB
</div>
<div class="{{b 'header' 'item'}}">
    <b>Generated in:</b> 4s 472ms
</div>
