<div class="button-group">
    {{#each statistics}}
        <button class="{{b 'button' active=active}} {{b 'status-toggle' 'button' status=status}}" data-status="{{status}}">{{title}} ({{count}})</button>
    {{/each}}
</div>
